.parentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: max(10vh, 65px);
}

.form {
  width: 90%;
  height: 60%;
}

.searchInput {
  height: 100%;
}

/*LARGE*/
@media screen and (min-width: 768px) {
  .form {
    width: 70%;
  }
}
