.parentBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: max(10vh, 65px);
}

.searchParentBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 60%;
}

/*LARGE*/
@media screen and (min-width: 768px) {
  .searchParentBox {
    width: 70%;
  }
}
