.parentBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  padding-inline: max(10px, 2%);
}

.cityLocationNDateTimeBox {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cityMainStatBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 15vh;
}

.cityAdditionalStatBox {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 15vh;
  flex-flow: row nowrap;
  overflow-x: scroll;
  align-items: center;
}

.cityAdditionalStatBox .miniStatBox {
  min-width: max(24%, 200px);
  background-color: rgb(85, 82, 82);
  margin: 1px;
  height: 12vh;
  border-radius: 10px;
}

/*LARGE*/
@media screen and (min-width: 768px) {
  .cityAdditionalStatBox {
    flex-flow: row wrap;
    justify-content: center;
    overflow: hidden;
  }

  .cityAdditionalStatBox .miniStatBox {
    height: 7vh;
  }
}
